{% assign github_profile = site.social-network-links.github %}
{% assign linkedin_profile = site.social-network-links.linkedin %}

{% if github_profile or linkedin_profile %}
<section id = "social-share-section">
  <span class="sr-only">Social links: </span>

  {% if github_profile %}
    <a href="https://github.com/{{ github_profile }}"
      class="btn btn-social-icon btn-github" title="GitHub">
      <span class="fab fa-fw fa-github" aria-hidden="true"></span>
      <span class="sr-only">GitHub</span>
    </a>
  {% endif %}

  {% if linkedin_profile %}
    <a href="https://www.linkedin.com/in/{{ linkedin_profile }}"
      class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fab fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

</section>

{% endif %}
